@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("assets/images/bgimg.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.65;
    background-color: black;
    top: 0;
    position: absolute;
}

nav {
    max-width: 60vw;
    margin: auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 100px;

}

nav img {
    color: red;
    width: 130px;
    z-index: 10;
    position: relative;
}

nav button {
    z-index: 10;
    position: relative;
}

.hero {
    font-family: "Inter", sans-serif;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}

.hero> :nth-child(1) {
    font-size: 48px;
    font-weight: 900;
    line-height: 80px;
    text-align: center;
}


.hero> :nth-child(2) {
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}

.hero> :nth-child(3) {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.separation {
    height: 7px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 20;
}

.btn {
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border-radius: 4px;
    border: solid 1px white;
    cursor: pointer;
}

.btn-red-sm {
    background-color: red;
    color: white;
}

.btn-red {
    background-color: red;
    color: white;
    font-weight: 400;
    padding: 5px 24px;
    font-size: 20px;
    border-radius: 4px;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input {
    padding: 7px 101px 8px 14px;
    color: white;
    font-size: 12px;
    font-weight: 900;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: solid 1px rgba(252, 247, 247, 0.5);
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}

.secImg {
    position: relative;
}

.secImg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 51px;
    right: 0;
    width: 555px;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: 900;
}

.first>div :nth-child(2) {
    font-size: 24px;
    font-weight: 400;
}

section.first.third .secImg {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.first.third .secImg img {
    width: 100%;
    position: relative;
    z-index: 2;
}

section.first.third .secImg video {
    position: absolute;
    top: 13%;
    left: 19%;
    width: 62%;
    height: 47%;
    object-fit: cover;
    z-index: 1;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
    font-weight: 900;
}

.faq {
    background: black;
    color: white;
    padding: 34px;
}

.faqbox:hover {
    background-color: #414141;
    color: white;

}

.faqbox svg {
    filter: invert(1);
}

.faqbox {
    transition: all 0.1s ease-out;
    font-size: 24px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 53vw;
    margin: 11px auto;
    cursor: pointer;
}

footer {
    color: #b3b3b3;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
    padding-bottom: 60px;
}

footer .Questions {
    padding: 34px 0;
}


footer div a {
    color: #b3b3b3;

}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1.3fr 1fr;
    color: white;
}

@media screen and (max-width: 1300px) {
    nav {
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
    }

    .secImg video {
        width: 305px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .faq h2{
        font-size: 32px;
        text-align: center;
    }

    footer{
        max-width: 90vw;
    }

    .footer-items{
        align-items: left;
    }
}

@media screen and (max-width: 1300px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: white;
        gap: 25px;
    }

}

.footer-items {
    display: flex;
    flex-direction: column;
    gap: 23px;
    font-size: 14px;
    font-weight: 400;
}